name: Lint and test code

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:

  linter:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: latest

  tests:
    name: Test code
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Unit tests
        run: make cover

      - name: Uppload code coverage
        uses: codecov/codecov-action@v1

